html {
    overflow-y: scroll; 
}
  
body{
    background: #698474 !important;
    height: auto;
    width: auto;
    margin: auto;
}

nav a{
    color: #d8d8d8;
    border-radius: 15%;
}

nav a:hover {
    background-color: #698474;
    color: #d8d8d8;
    border-radius: 15%;
}

/*Used to push navbar items to the right*/
#align-nav-bar {
    margin-left: auto;
}

/*Flex container for the main page area*/
#welcome-area {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

#welcome-area > * {
    margin: 2%;
    text-align: center;
}
/*Title card*/
#welcome-box {
    background-color: #889e81;
    padding: 5%;
    width: 50%;
    height: auto;
    border-radius: 2% 40% 2% 40%;
}

#laptop-drawing {
    max-width: 50%;
    height: auto;
}

#welcome-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: auto;
}

#center-welcome-area {
    text-align: center;
}
