/*Used to temporarily fix the issue with the nav bar*/
@media screen and (max-width: 992px) {
    #welcome-wrapper {
        margin-top: 15% !important;
    }
}

@media screen and (max-width: 600px) {
    #welcome-wrapper {
        margin-top: 35% !important;
    }
    #logo-links {
        width: 6% !important;
    }
    #align-nav-bar {
        text-align: center !important;
    }
}

@media screen and (min-width: 1000px) {
    #logo-links {
        width: 3% !important;
    }
  }

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
  
body{
    background-color: #bac7a7 !important;
    margin: auto;
    padding: 5%;
    height: 100%;
    width: 100%;
}

.list-inline-item a{
    color: #d8d8d8 !important;
    border-radius: 15%;
}

.list-inline-item a:hover {
    background-color: #698474;
    color: #d8d8d8;
    border-radius: 15%;
}

/*Used to push navbar items to the right*/
#align-nav-bar {
    margin-left: auto;
}

/*A wrapper that holds my greeting and a drawing*/
#welcome-wrapper {
    text-align: center;
    /*margin: 0 auto !important;*/
    margin: 2%;
    background-color: #698474;
    border-radius: 2% 40% 2% 40%;
}

/*Title card*/
#welcome-box {
    background-color: #889e81;
    padding: 3%;
    margin-top: 4%;
    width: 50%;
    height: auto;
    border-radius: 2% 40% 2% 40%;
}

#laptop-drawing {
    max-width: 50%;
    height: auto;
}

/*About me section*/

#about-me-wrapper {
    margin-top: 10%;
    
    border-radius: 25% 2% 25% 2%;
    width: 100%;
    height: auto;
    background-color: #e5e4cc;
}

#my-pic {
    border-radius: 50%;
    padding:2px; 
    border: 1px solid black;

}

#about-me {
    display: flex;
}


#about-me-text {
    margin: auto;
    text-align: center;
}

.project-card {
    box-shadow: 0.5vw 0.5vw 0.5vw 0.5vw;
    margin: 5% 5% 0% 5% !important;
    border-radius: 1%;
    background-color: #889e81;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    /*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}


.project-text {
    margin-top: 10%;
}

/* Grow */

.project-card:hover,
.project-card:focus,
.project-card:active {
    transform: scale(1.1);
}