/*Used to temporarily fix the issue with the nav bar*/
@media screen and (max-width: 992px) {
    #welcome-wrapper {
        margin-top: 15% !important;
    }
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
  
body{
    background-color: #bac7a7 !important;
    margin: auto;
    padding: 5%;
    height: 100%;
    width: 100%;
}

nav a{
    color: #d8d8d8 !important;
    border-radius: 15%;
}

nav a:hover {
    background-color: #698474;
    color: #d8d8d8;
    border-radius: 15%;
}

/*Used to push navbar items to the right*/
#align-nav-bar {
    margin-left: auto;
}

/*A wrapper that holds my greeting and a drawing*/
#welcome-wrapper {
    text-align: center;
    margin: 2%;
    background-color: #698474;
    border-radius: 2% 40% 2% 40%;
}

/*Title card*/
#welcome-box {
    background-color: #889e81;
    padding: 3%;
    margin-top: 4%;
    width: 50%;
    height: auto;
    border-radius: 2% 40% 2% 40%;
}

#laptop-drawing {
    max-width: 50%;
    height: auto;
}

/*About me section*/

#about-me-wrapper {
    visibility: hidden;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 25% 2% 25% 2%;
    width: 100%;
    height: auto;
    background-color: #e5e4cc;
}

#my-pic {
    border-radius: 50%;
    padding:2px; 
    border: 1px solid black;

}

#about-me {
    display: flex;
}


#about-me-text {
    margin: auto;
    text-align: center;
}
